body{
    margin: 0;
    padding: 0;
    background-image: url(image/TZ01.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.T04{
    background: rgb(247, 218, 56);
    height: 50px;
}
.T04 ul li{
    list-style: none;
    display: inline-block;
    margin: 0 50px;
    position: relative;
    margin-top: 20px;
}
.T04 ul li a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}
p{
    color: #fff;
}
h4{
    text-transform: uppercase;
    color: #fff;
}
.T05 select{
    width: 30%;
    padding: 7px;
    border: none;
}

.T05 label{
    margin-top: 30px;
    font-size: 16px;
    color: yellow;
    text-transform: uppercase;
}

.T05 textarea {
    width: 600px;
    height: 200px;
    border: none;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(30, 30, 197);
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    }
    span{
        background: rgb(204, 204, 12);
        height: 100%;
        width: 0%;
        border-radius: 25px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: 0.3s;
    }
    button:hover span{
        width: 100%;
    }
    button:hover{
        border: none;
    }
    .popup{
        width: 200px;
        height: 100px;
        background: yellow;
        border-radius: 6px;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%) 'scale(0.1)';
        padding: 0 30px 30px;
        visibility: hidden;
        transition: transform 0.4s, top 0.4s;
        margin-left: -10%;
    }
    .openpopup{
        visibility: visible;
        transform: translate(-50%, -50%) 'scale(0.1)';
        top: 50%;
    }
    .popup h2{
        font-size: 18px;
        font-weight: 500;
        margin: 30px 0 10px;
    }
    .popup button{
        width: 100px;
        margin-top: 50px;
        padding: 10px 0;
        border: 0;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        top: -25%;
        color: green;
    }